body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.attendee-form {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.attendee-form-header {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  text-align: center;
}

#attendee-signup-form {
  display: flex;
}

input,
select {
  margin: 0.5em;
}

.tr-hidden {
  display: none;
}

.table-container {
  align-content: center;
  margin-left: 33%;
}

.table {
  width: 50%;
}
